.horizontal-navbar {
  display: flex;
  background-color: #f8f9fa;
  padding: 3px 0;
  flex-wrap: nowrap;
}

#categoury {
  color: black;
  margin: 2%;
}
#categoury:hover {
  color: whitesmoke;
  background-color: rgba(128, 0, 128, 0.897);
}

.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}
