.login {
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
}

#p {
  padding: 2.1%;
}

#text {
  color: rgb(8, 8, 8);
  background-color: rgb(255, 255, 255);
  width: 80vh;
  box-shadow: 2px 4px 8px 4px rgba(107, 4, 107, 0.199);
  border-radius: 2vh;
}
