#detail-product {
  border: solid rgba(128, 0, 128, 0.295);
}

#buyBtn:hover {
  border: solid rgb(83, 2, 83);
  background-color: white;
  color: black;
}

#cartBtn:hover {
  border: solid rgb(83, 2, 83);
  background-color: white;
  color: black;
}

#cartBtn {
  background-color: purple;
  color: whitesmoke;
  border: solid purple;
}

#buyBtn {
  background-color: purple;
  color: whitesmoke;
  border: solid purple;
}
