#detail-product{
    /* background-color: rgba(182, 0, 182, 0.212); */
    /* border-radius: 0% 0% 8% 8%; */
    border: solid  rgba(128, 0, 128, 0.295);
}

#buyBtn:hover{
    background-color:  rgb(83, 2, 83);
    color: rgb(255, 255, 255);
}

#cartBtn:hover{
    border: solid  rgb(83, 2, 83);
    /* color: rgb(255, 255, 255); */
    background-color: white;
    color: black;
}

#cartBtn{
    background-color: purple;
    color: whitesmoke;
    border: solid purple;

}

#buyBtn{
    border: solid purple;
}